[user]
	name = yukihir0
	email = yukihiro.cotori@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/yukihir0/.gitignore
	editor = vim -c \"set fenc=utf-8\"
[filter "media"]
	required = true
	clean = git media clean %f
  smudge = git media smudge %f
[alias]
  br = branch
  cm = commit
  co = checkout
  st = status
[ghq]
  root = ~/.ghq
