[user]
	name = yukihir0
	email = yukihiro.cotori@gmail.com
[color]
	ui = auto
[core]
	excludesfile = /Users/yukihir0/.gitignore
	editor = /Applications/MacVim.app/Contents/MacOS/Vim
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
